/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
/*FONT*/

*{
    box-sizing: border-box;
    text-decoration:none;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

/******** Header *******/
.cover-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header img{
    width: 50%;
}
header{
    border-bottom:solid 1px grey;
    font-family: 'Playfair Display', serif, Arial;
    padding:5%;
}
/** Disposition en ligne du menu**/
.header_nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.header_nav a:hover{
    color:black;
}
/***** Sous-menus Continents et Personnes *****/
.sous{
    display:none;
    background-color: white;
    border:solid 1px lightgrey;
    position:absolute;
    padding:1%;
    width:7em;
    height:6em; 
    z-index:1000;
}
.deroulant:hover .sous{
    display:block;
}
/***** Sous-menu imbriqué menant aux différentes pages ****/
.sous2_continents{
    display:none;
    margin-left:75%;
    background-color: white;
    position: absolute;
    border:solid 1px lightgrey;
    padding:10%;
    width:7em;
    top:20px;
    height:4em;
}
.deroulant2:hover .sous2_continents{
    display:block;
}
/** Sous-menu de l'Europe avec une plus grande hauteur**/
.sous2_europe{
    display:none;
    margin-left:75%;
    background-color: white;
    position: absolute;
    border:solid 1px lightgrey;
    padding:10%;
    width:7em;
    top:20px;
    height:8em;
}
.deroulant2:hover .sous2_europe{
    display:block;
}
/** Sous-menu des pays par personne**/
.sous2{
    display:none;
    margin-left:75%;
    background-color: white;
    position: absolute;
    border:solid 1px lightgrey;
    padding:10%;
    width:6em;
    top:20px;
    height:6em;
}
.deroulant2:hover .sous2{
    display:block;
}
/**** Liens Continents et Personnes ****/
.header_link{
    color:black;
    font-size:20px;
}
/**** Couleur des liens ****/
.sous_lien{
    color:grey;
}
@media (max-width:780px){
    /** Redimensionnement taille sous-menus**/
    .sous, .sous2{
        width:5em;
        height:5em;
    }
    .sous2_europe{
        width:5em;
        height:8em;
    }
    .sous2_continents{
        width:5em;
        height:4em;
    }
    /** Redimensionnement de la taille des textes**/
    .header_link{
        font-size:16px;
    }
    .sous_lien{
        font-size:14px;
    }
}


/*MAIN*/
main{
    font-family: 'Roboto', sans-serif;
}
.slider-container{
    width: 100%;
    height: 80vh;
    position: relative;
}
.slider-container h1{
    position: absolute;
    top: 10%;
    left: 45%;
    color: white;
    z-index: 1;
    text-align: center;
    font-size: 3em;
    margin: 0;
}
.background-slider figure{
    animation: image-animation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 0;
    margin: 0;
}
#img1{
    background-image: url(../src/img/Sicile/langfr-338px-Sicilian_Flag.svg.png);
    animation-delay: 6s;

}
#img2{
    background-image: url(../src/img/Sicile/cathedral-3453675_1920.jpg);
    animation-delay: 12s;
}
#img3{
    background-image: url(../src/img/Sicile/etna-2979915_1920.jpg);
    animation-delay: 18s;
}
#img4{
    background-image: url(../src/img/Sicile/italy-3116211_1920.jpg);
    animation-delay: 24s;
}
#img5{
    background-image: url(../src/img/Sicile/sicily-329092_1920.jpg);

}
@keyframes image-animation{
    0%{
        animation-timing-function: ease-in;
        opacity: 0;
    }
    8%{
        animation-timing-function: ease-out;
        opacity: 1;
    }
    17%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.sicily-city{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    text-align: center;
    
    
}
.navbar2{
    background-color: black;
    width: 100%;
    height: 100%;
    font-weight: bold;  
    color: white; 
    display: flex;
    flex-direction: column;
    
}
.navbar2 a{
    color: white;
    padding: 1em;
    
}

.navbar2 a:hover{
    background: linear-gradient(45deg, rgba(229,245,23,1) 50%, rgba(228,24,24,1) 50%);
    color: black;
}

.navbar2 ul{
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column ;
    justify-content:space-around ;
    align-items: center;
    height:100%;
}
.flipping-icon{
    display:flex;
    flex-direction: column ;
    justify-content:space-around ;
    align-items: center;

}
.flipping-icon img{
    width: 80%;
    cursor: pointer;
    transition: 1s;
    
}
.flipping-icon img:hover{
    transform: rotate(360deg);

}
.content{
    display: grid;
    grid-template-columns: repeat(5, 100%);
    overflow-x: hidden;
    scroll-behavior: smooth;  
     
}

.content figure, h1, p{
    margin: 0;
}
figcaption{
    text-align: center;
}

#city1, #city2, #city3, #city4, #city5{
    width: 100%;
    
}
.big-container1{
    display: flex;
    width: 100%;
    
}
.city-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 50%;
    padding: 2%;
    
}

.city-content img{
    width: 100%;
    
}
/*RESPONSIVE*/
@media screen and (min-width:480px) and (max-width:600px){
    .slider-container h1{
        left: 35%;
    }
    .sicily-city{
        grid-template-rows: 28% 72%;
        grid-template-columns: 100%;
    }
    .sicily-city h1{
        margin-bottom: 1%;
    }
    .flipping-icon img{
        width: 40%;
    }

    .navbar2 ul{
        display: flex;
        flex-direction: column;
        
    }
    .navbar2 li{
        display: flex;
        flex-wrap: wrap;
    }
    .big-container1{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
    }
    .city-content{
        margin-bottom: 2%;
    }

}
@media screen and (min-width:320px) and (max-height:479px){
    
}


