/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
/*FONT*/
*{
	margin:0;
    padding:0;
    
	text-decoration:none;
    list-style-type: none;
    box-sizing: border-box;
}

/***** Header *****/
.cover-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header img{
    width: 50%;
}
header{
	border-bottom:solid 1px grey;
	font-family: 'Playfair Display', serif;
    padding:5%;
}
.header_nav{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
}
.header_nav a:hover{
	color:black;
}
/***** Sous-menus Continents et Personnes *****/
.sous{
	display:none;
    background-color: white;
    border:solid 1px lightgrey;
    position:absolute;
    padding:1%;
    width:7em;
    height:6em;
}
.deroulant:hover .sous{
	display:block;
}
/**** Liens Continents et Personnes ****/
.header_link{
	color:black;
	font-size:20px;
}
/***** Sous-menu imbriqué menant aux différentes pages ****/
/**Sous-menu Amérique et Asie avec une plus petite hauteur**/
.sous2_continents{
    display:none;
    margin-left:75%;
    background-color: white;
    position: absolute;
    border:solid 1px lightgrey;
    padding:10%;
    width:7em;
    top:20px;
    height:4em;    
}
.deroulant2:hover .sous2_continents{
    display:block;    
}

/** Sous-menu de l'Europe avec une plus grande hauteur**/
.sous2_europe{
    display:none;
    margin-left:75%;
    background-color: white;
    position: absolute;
    border:solid 1px lightgrey;
    padding:10%;
    width:7em;
    top:20px;
    height:8em;
}
.deroulant2:hover .sous2_europe{
    display:block;
}
/** Sous-menu des pays par personne**/
.sous2{
    display:none;
    margin-left:75%;
    background-color: white;
    position: absolute;
    border:solid 1px lightgrey;
    padding:10%;
    width:7em;
    top:20px;
    height:6em;
}
.deroulant2:hover .sous2{
    display:block;
}
/**** Couleur des liens ****/
.sous_lien{
	color:grey;
}



/*MAIN*/
.intro{
    font-family: 'Playfair Display', serif, Georgia;
    text-align:center;
    background-color: #FBF5EB;
}
.h1_section1{
    color:#004040;
    padding-top:5%;
    padding-bottom:2%;
    font-size:30px;
}
.texte_intro{
    width: 50% ; 
    border-bottom:solid 1px grey;
    margin-left:25%;
    line-height: 1.5em;
    padding-bottom:2%;
}

.section1{
    font-family: 'Playfair Display', serif, Georgia;
    border-bottom:solid 1px lightgrey;
    padding-bottom:5%;
    background-color: #FBF5EB;
    text-align:center;
    padding-top:5%;
}
.section_intro{
    font-style:italic;
    padding:1%;
}
.flex{
    display:flex;
    flex-direction:row;
}
.p2_section1{
    margin:1%;
    color:#004040;
}

.h2_section1{
    font-weight:normal;
}
.h3_section1, .link_section1{
    text-align:center;
    color:#001010;
    transition: color 1s;
    cursor:pointer;
    font-size:25px;
}
.link_section1:hover{
    color:white;
}
.article_section1{
    background-color: #007070;
    border:solid 1px grey;
    height:100%;
    margin:1%;
    flex-basis:500px;
    min-height:650px;
}
.img_section1{
    width:90%;
    height:90%;
    margin:5%;
    flex-grow:1;
    min-height:250px;
    border:solid 1px black;
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.img_section1:hover{
    opacity: .5;
}
.p_section1{
    margin:2%;
    line-height: 1.5em;
    color:#001010;
    text-align:justify;
}

@media (max-width:850px){
    .flex{
        flex-direction:column;
    }
    .img_section1{
        width:65%;
        margin-bottom:0;
    }
    .link_section1{
        font-size:20px;
        margin:0;
    }
    .p_section1{
        width:70%;
        margin-left:15%;
        font-size:15px;
    }
    .h1_section1{
        font-size: 22px;
    }
    .texte_intro{
        width:80%;
        margin-left:10%;
        font-size:15px;
    }
    .h2_section1{
        font-size:18px;
        font-weight:bold;
    }
}



/*** Section2***/

.section2{
    padding: 1em;
    background: #FBF5EB;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'roboto', sans-serif;
}
.title2{
    padding-bottom: 1em;
    padding-left: 0.5em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.author{
    font-style: italic;
    
}
.content2{
    display: grid;
    grid-template-columns: 80% 20%;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .8);
    
}
.content2 img{
    width: 100%;
    padding: 5%;
}
.description2{

    width: 100%;
}
.flags{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#img1{
    margin-top: 10%;
}
#img3{
    margin-bottom: 15%;
}
.countries2{
    width: 100%;
    display: flex;
    align-items: center;
}
.countries2 img{
    width: 50%;
    padding: 2%;
    
}
.text2 p{
    padding: 1em;
}
.text2 a{
    height: 10%;
    width: 100%;
    color: black;
    text-align: center;
    padding: 1em;
    font-weight: bold;
}
@media screen and (max-width:600px){
    .content2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .countries2{
        grid-row: 2;
        display: flex;
        flex-direction: column;
    }
    .flags{
       display: none;
    }
   
}

/**** Céline ******/
.section3 {
    background-color: #FBF5EB;
    text-align: center;
}

.section3 h2 {
    margin-bottom: 2%;
    padding-top: 2%;
}

.section3 h3 {
    margin: 2% 0;
}

.section3 h4 {
    text-align: left;
    margin: 2% ;
    color: teal;
}

.section3 h4:after {
    content: "";
    width: 85%;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    background-color: teal;
}

.section3 h5 {
    margin: 1% auto;
    color: red;
}

.section3 h2 , .section3 h3 , .section3 h4 , .section3 h5 , .section3 p  {
    font-family: 'Oswald', sans-serif;
}

#section3-p {
    width: 90%;
    margin: auto;
    
}

.section3 hr {
    width: 80%;
    margin: 4% auto;
    border: white 1px solid;
}
.section3-div1{
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: auto;
}

.section3-img {
    width: 10%;
    padding: 1%;
    border: 1px solid teal;
    border-radius: 50%;
}

.section3-div2 {
    display: flex;

}
.section3-div3 {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2% auto;
    text-align: center;
}

.section3-div3 img {
   width: 50%;
   margin: auto;
}

.section3 a  {
    width: 50%;
    margin: 1% auto;
    padding: 1%;
    background-color: teal;
    color: white;
}

.section3 a:hover  {
    background-color: rgba(0, 128, 128, 0.692);
    color: black;
}

/***** RESPONSIVE ****/
 @media screen and (max-width:700px) {
    .section3-div1{
        display: block;
  
    }

    .section3-div3 {
        width: 100%;
    }
 }






/* END MAIN*/



/*FOOTER*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: teal;
    color: white;
    font-family: 'Amatic SC', cursive;
}
footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}
footer a:hover{
    transform: scale(1.4);
    transition: 0.5s;
    color: white;
}
footer section{
    width: 30%;
    text-align: center;
}
.icons{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    color:black   
}

#icon1:before{
    content: "f";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 2em;   

}

#icon2:before{
    content: "i";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 2em;

}

#icon3:before{
    content: "t";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 2em;
    
}

#icon4:before{
    content: "y";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 2em;
    
}

#icon5:before{
    content: "p";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 2em;
    
}
.socialicons{
    padding:5%;
}
.socialicons:hover{
    color: white;
    transform: scale(1.4);
    transition: 0.5s;
}
.title-footer{
    text-align: center;
}
.destination a{
    padding: 5%;
}
.destination{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 40%;
    
}
.subdestination{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.sublink{
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 30%;
}

.sublink a{
    width: 100%;
}

.contactus a{
    padding: 5%;
    margin-top: 1em;
}
.contactus{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;  
}
@media screen and (max-width:700px){
    .header_link{
        font-size:16px;
    }
    .sous_lien{
        font-size:14px;
    }
    .sous, .sous2{
        width:5em;
        height:5em;
	}
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .sublink{
       width: 100%;
   }
}