/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
/*FONT*/
*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style-type: none;
}

/******** Header *******/
.cover-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header img{
    width: 50%;
}
header{
    border-bottom:solid 1px grey;
    font-family: 'Playfair Display', serif, Arial;
    padding:5%;
}
/** Disposition en ligne du menu**/
.header_nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.header_nav a:hover{
    color:black;
}
/***** Sous-menus Continents et Personnes *****/
.sous{
    display:none;
    background-color: white;
    border:solid 1px lightgrey;
    position:absolute;
    padding:1%;
    width:5em;
    height:4em; 
}
.deroulant:hover .sous{
    display:block;
}
/***** Sous-menu imbriqué menant aux différentes pages ****/
.sous2_continents{
    display:none;
    margin-left:75%;
    background-color: white;
    position: absolute;
    border:solid 1px lightgrey;
    padding:10%;
    width:7em;
    top:20px;
    height:3em;
}
.deroulant2:hover .sous2_continents{
    display:block;
}
/** Sous-menu de l'Europe avec une plus grande hauteur**/
.sous2_europe{
    display:none;
    margin-left:75%;
    background-color: white;
    position: absolute;
    border:solid 1px lightgrey;
    padding:10%;
    width:7em;
    top:20px;
    height:7em;
}
.deroulant2:hover .sous2_europe{
    display:block;
}
/** Sous-menu des pays par personne**/
.sous2{
    display:none;
    margin-left:75%;
    background-color: white;
    position: absolute;
    border:solid 1px lightgrey;
    padding:10%;
    width:5em;
    top:20px;
    height:5em;
}
.deroulant2:hover .sous2{
    display:block;
}
/**** Liens Continents et Personnes ****/
.header_link{
    color:black;
    font-size:20px;
}
/**** Couleur des liens ****/
.sous_lien{
    color:grey;
}

/****** GENERALE *******/

body {
    max-width: 1400px;
    margin: auto;
    text-align: center;
}

main {
    background-color: #43658b;
}

h1{
    font-size: 55px;
}
.titreh2 {
    font-size: 40px;
}
h1 , .titreh2 , h3 {
    font-family: 'Playfair Display', serif;
}
h3 {
    color: white;
    font-size: 15PX;
}
hr {
    width: 75%;
    margin: 3% auto;
}

/********** MAIN *********/
.introduction {
    width: 70%;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

.div-image-fixe {
    background-image: url(../src/img/newyork/fond.jpg);
    height: 80vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.div-lieux {
    display: flex;
    justify-content: space-evenly;
    padding: 1% 0;
    background-color: #002053;
}

.div-lieux section {
    
    height: 40vh;
}

.div-lieux section img {
    width: 95%;
    margin: 1%;
}

.div-lieux p {
    color: white;
}

@media screen and (max-width:720px) {
    .div-lieux {
        flex-direction: column;
    }
    .div-lieux section {
        width: 90%;
        margin: auto;
        height:auto;
    } 

    /** Redimensionnement taille sous-menus**/
    .sous, .sous2{
        width:5em;
        height:5em;
    }
    .sous2_europe{
        width:5em;
        height:8em;
    }
    .sous2_continents{
        width:5em;
        height:4em;
    }
    /** Redimensionnement de la taille des textes**/
    .header_link{
        font-size:16px;
    }
    .sous_lien{
        font-size:14px;
    }
   
}

@media screen and (min-width:721px) and (max-width:1075px) {
    .div-lieux {
        flex-wrap: wrap;
    }
    .div-lieux section {
        width: 40%;
        margin: auto;
        height:auto;
    } 
    
}


.lien {
    
   color: gray;
}

.lien-photos {
    display: block;
    padding: 2%;
    background-color:  #43658b;
    color: black;
}

.lien-photos:hover {
    background-color:  red;
    color: white;
}


/****** SLIDER *******/

.slider {
    display: grid;
    grid-template-columns: repeat(6,100%);
    overflow: hidden;
    
}

#album1 {
  width: 100%;
  margin: 2% auto;
}

#album1 div {
    width: 90%;
    margin: auto;
}

.phot1-img {
    width: 10%;
}

#album1 p {
    width: 70%;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

/********* GRID *******/
#album1 div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

.div1 ,.div2  ,.div3,.div4 ,.div5  {
    width: 100%;  
}

.div1 { 
    grid-row-start: 1 ;
    grid-row-end: 3;
    grid-column-start: 1 ;
    grid-column-end:3;
}
.div2 { 
    grid-row-start: 3 ;
    grid-row-end: 5;
    grid-column-start: 1 ;
    grid-column-end:3;   
}

.div3 { 
    grid-row-start: 1 ;
    grid-row-end: 5;
    grid-column-start: 3 ;
    grid-column-end:5;
}

.div4 { 
    grid-row-start: 1 ;
    grid-row-end: 3;
    grid-column-start: 5 ;
    grid-column-end:7;
}

.div5 { 
    grid-row-start: 3 ;
    grid-row-end: 5;
    grid-column-start: 5 ;
    grid-column-end:7;
}

/****** TABLEAU ******/

table {
    margin: 3% 0;
    padding: 1% 0;
    background-color: #002053;
}
  
table img {
    max-width: 95%;
    padding: 0.5%;
    border: solid black 1PX;
    background-color: white;
}
  
table td {
    width: 15%;
    vertical-align: text-top;  
}
  
table p {
    color: white;
}

#album2 p {
    width: 70%;
    margin: auto;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}

#album3 p {
    width: 70%;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}
.img1 , .img2, .img3 , .img4 , .img5 , .img6 {
    width: 100%;
}


/****** GRID 2 ******/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat( 8, 5vw);
    grid-gap: 1px; 
}

.img2 {
    grid-column-start: 1;
    grid-column-end:  3;
    grid-row-start: 1;
    grid-row-end: 4;
    align-self: stretch;
}

.img3 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 4;
    align-self: stretch;
}

.img4 {
    grid-column-start: 5;
    grid-column-end: span 4;
    grid-row-start: 6;
    grid-row-end: span 3;
    align-self: stretch;   
}

.img1 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    align-self: stretch;
}


.img5 {
    grid-row-start: 4;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: stretch;
}

 .img6 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 4;
    grid-row-end: 9;
    align-self: stretch;
 }

#album4 img {
    width: 10%;
}

#album4 p {
    width: 70%;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}
 #album4 div {
    display: flex;
    justify-content: space-evenly;
    background: #002053;
    padding: 1%;
    margin: 1%;   
}

 #album4 div img {
    width: 30%; 
    padding: 0.5%;
    border: 1px solid black;
    background: white;  
 }

.phot5-img {
    width: 10%;
}

#album5 p {
    width: 70%;
    margin: auto;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}

/**** GRID 3 ******/
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat( 8, 5vw);
    grid-gap: 1px;
    justify-content: center; 
    width: 90%;
    margin: 2% auto;
}

.grid2 img {
    width: 100%;
}
.grid2 img:first-child {
    grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row: 1/4;
    align-self: stretch;
}

.grid2 img:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4/9;
    align-self: stretch;
}

.grid2 img:nth-child(3){
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 1/9;
    align-self: stretch;
}

.grid2 img:nth-child(4){
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row: 1/4;
    align-self: stretch;
}

.grid2 img:nth-child(5){
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row: 1/6;
    align-self: stretch;
}

.grid2 img:nth-child(6){
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row: 6/9;
    align-self: stretch;
}
.grid2 img:nth-child(7){
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row: 4/6;
    align-self: stretch;
}

#album6 {
    background-color: rgb(255, 53, 53);
}

#album6 img {
    width: 10%;
}

#album6 p{
    width: 80%;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}
#album6  div{
    display: flex;
    justify-content: space-evenly;
}


#album6  div img {
    width: 30%;
    margin-top: 2%;
    padding: 0.5%;
    background-color: #f9c808;
    border: solid black 1px;
}

#album1 a , #album2 a, #album3 a , #album4 a , #album4 a , #album5 a , #album6 a {
    display: inline-block;
    margin: 3%;
}
.icon-left-circle:before { 
    content: '\e800'; 
    font-size: 30px;
    color: #002053;
}

.icon-right-circle:before { 
    content: '\e801'; 
    font-size: 30px;
    color: #002053;
}


/*FOOTER*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: teal;
    color: white;
    font-family: 'Amatic SC', cursive;
}
footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}
footer a:hover{
    transform: scale(1.4);
    transition: 0.5s;
    color: white;
}
footer section{
    width: 30%;
    text-align: center;
}
.icons{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    color:black   
}

#icon1:before{
    content: "f";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 2em;   

}

#icon2:before{
    content: "i";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 2em;

}

#icon3:before{
    content: "t";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 2em;
    
}

#icon4:before{
    content: "y";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 2em;
    
}

#icon5:before{
    content: "p";
    font-family: 'fontello';
    font-weight: bold;
    font-size: 2em;
    
}
.socialicons{
    padding:5%;
}
.socialicons:hover{
    color: white;
    transform: scale(1.4);
    transition: 0.5s;
}
.title-footer{
    text-align: center;
}
.destination a{
    padding: 5%;
}
.destination{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 40%;
    
}
.subdestination{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.sublink{
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 30%;
}

.sublink a{
    width: 100%;
}

.contactus a{
    padding: 5%;
    margin-top: 1em;
}
.contactus{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;  
}
@media screen and (max-width:700px){
    .header_link{
        font-size:16px;
    }
    .sous_lien{
        font-size:14px;
    }
    .sous, .sous2{
        width:5em;
        height:5em;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .sublink{
       width: 100%;
   }