*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style-type: none;
}
header{
	border-bottom:solid 1px grey;
	font-family: 'Playfair Display', serif;
}
.header_nav{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	padding:5%;
}
.header_ul{
	display:table;
}
.header_nav .sous_lien{
	display:block;
}
.header_nav a:hover{
	color:black;
}
/***** Sous-menus Continents et Personnes *****/
.sous{
	display:none;
}
.deroulant:hover .sous{
	display:block;
}
/**** Liens Continents et Personnes ****/
.header_link{
	color:black;
	font-size:20px;
}
/***** Sous-menu imbriqué menant aux différentes pages ****/
.sous2{
	display:none;
	margin-left:60%;
}
.deroulant2:hover .sous2{
	display:block;
}
/**** Couleur des liens ****/
.sous_lien{
	color:grey;
}